db/debug.log
db/foromtb.db
show_bike.rb
*.log
*.db
*.db.bak
todo
site/*
.agignore
utils/*
.gitignore
*.py
Guardfile
tags

public/*

#public/old_assets/*
#public/bootstrap/*
#public/bootstrap-sass/*
#public/seiyria-bootstrap-slider/*
#public/chosen-bootstrap/*
#public/jquery/*
#public/jeditable/*
#/*public/chosen/**/
