#confirmation-message {
  position: fixed;
  top: 100px;
  left: 50px;
  right: 50px;
}

#model-col {
  width: 50px;
}

.model-name:hover {
  text-decoration: underline;
}

.submodel-name:hover {
  text-decoration: underline;
}

#last-msg-at-col {
  width: 55px;
}

.chosen {
  min-width: 140px;
  /*max-width: 140px;*/
}

.chosen-container {
  max-width: 150px;
}
.brand-name {
  text-align: right;
}

/*TODO responsive?*/
.container-fluid {
    padding-right: 40px;
    padding-left: 50px;
}

.time-since-last-msg {
  font-size: 14px; 
  color: gray;
}

.container-fluid {
  padding-top: 20px;
}

#search-form .form-inline {
  margin-bottom: 10px;
}

#search-form .form-group {
  /*vertical-align: top;*/
  float: left;
}

#search-form .checkbox {
  clear: both;
  padding-top: 20px;
  padding-bottom: 10px;
}

#search-form .form-group label {
  width: 75px;
  text-align: right
}

#search-form .form-group input {
  max-width: 80px;
}
